:root {
    --active: hsl(278, 94%, 30%);
    --leftBg: hsl(249, 99%, 64%);
    --error: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Lightgrayishviolet: hsl(270, 3%, 87%);
    --Darkgrayishviolet: hsl(279, 6%, 55%);
    --Verydarkviolet: hsl(278, 68%, 11%);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient( to right, var(--active) 0%, var(--active) 50%, var(--White) 50%, var(--White) 100%);
}

input[type="text"] {
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type="text"]:focus {
    border: 1px solid var(--active);
}